#container
  #main
    #post_info
      #search_info
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text", :style => "width:400px;"}
            %button.btn.btn-default{:type => "submit", :style => "width:100px"} 搜索
      #all_post
        - @all_posts.each do |post|
          .wb
            .wb_contain
              .wb_info
                .wb_title
                  %p.title_p= post.title + '(' + @groups[post.id] + ')'
                %h6.wb_body=  link_to @posts_content[post.id],{:controller =>'post',:action => 'post_page',:id => post.id}
            .comments
              %ul
                %li=  '回复： ' + @comments_nums[post.id].to_s
                %li=  '赞： ' + @likes_nums[post.id].to_s
                %li=  '收藏： ' + @collect_nums[post.id].to_s
                %li=  post.edit_time
    #info
      #self_info 
        .nav_title
          %h4.title
            %span  个人信息介绍
        .av_body{:style => "padding:16px;"}
          %ul.list
            %li
              %p
                %span.right= @user_info['nick_name']
                %span.color 昵称：
            %li
              %p
                %span.right= @user_info['gender']
                %span.color 性别：
            %li
              %p
                %span.right= @user_info['home']
                %span.color 地址：
            %li
              %p
                %span.right= @user_info['institute']
                %span.color 研究所：
            %li
              %p
                %span.right= @user_info['email']
                %span.color email:
      #hot_tag 
        .nav_title
          %h4.title
            %span  热门标签
        .av_body{:style => "padding:16px;"}
          %ul.list
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
      #hot_post
        .nav_title
          %h4.title
            %span  热帖
        .av_body{:style => "padding:16px;"}
          %ul.list
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
            %li
              %p
                %span.right 671
                %span.color banyuezhuan
    .clearfloat

