%html
  %head
    %title Guokeziqing
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div{:style => "margin-bottom:60px;"}
      %nav#header.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        .navbar-header
          %a.navbar-brand{:href => "#"} GuoKeZiQing.com
        %table#home_link
          %thead
            %tr{:style => "padding-left:20px;"}
              %th= link_to"首页",{:controller =>'homepage',:action => 'index'}
              %th= link_to"小组",{:controller =>'groups',:action => 'groups_page'}
              %th= link_to"个人信息",{:controller =>'myself',:action => 'info_page'}
              %th  王灿。风铃
              %th= link_to"退出",{:controller =>'login',:action => 'login_page'}
    = yield
    #footer 底部（footer）
  
